body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    color: #f1e2e2;
    background-color: #b0c0b0;
    background-image: url(3.jpg);
}

.places {
   list-style-image: url('20.png');
}

header {
    background-position:top right;
    background-repeat: no-repeat;
    background-image: url('222.png');
    height: 260px;

}

nav a {
    color: #b0c0b0;
}

.current {
    color: #ca3b3b;
}

.wee {
    color: #ffffff;
    background-color: #000000;
    padding: 10px;
    border: 5px solid #000000;
    width: 200px;
}